project-files/EAP_Company_FixTech/EAP_Company_FixTech/Service References/Supplier_Votech_ServiceReference/Ws_Supplier_Votech5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EAP_Supplier_Votech.DAL.Nelson" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EAP_Supplier_Votech.DAL.Nelson" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDAL_DeliveryOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DAL_DeliveryOrder" nillable="true" type="tns:DAL_DeliveryOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDAL_DeliveryOrder" nillable="true" type="tns:ArrayOfDAL_DeliveryOrder" />
  <xs:complexType name="DAL_DeliveryOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_CompanyAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_CompanyContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_CompanyEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OI_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DAL_DeliveryOrder" nillable="true" type="tns:DAL_DeliveryOrder" />
</xs:schema>