project-files/EAP_Company_FixTech/EAP_Company_FixTech/Service References/Supplier_Votech_ServiceReference/Ws_Supplier_Votech2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50235/Ws_Supplier_Votech.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EAP_Supplier_Votech.DAL.Lester" />
  <xs:import schemaLocation="http://localhost:50235/Ws_Supplier_Votech.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EAP_Supplier_Votech.DAL.Nelson" />
  <xs:element name="insertPurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPurchaseOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOrderItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProdName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProdDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProdPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createOrderItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createOrderItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_Inventory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll_InventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAll_InventoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllCustomerOrdersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaySupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChequeNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="Payee" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaySupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaySupplierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCreated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCreatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EAP_Supplier_Votech.DAL.Lester" minOccurs="0" name="GetInvoiceCreatedResult" nillable="true" type="q1:ArrayOfDAL_CreateInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getallInvoiceOrderItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getallInvoiceOrderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getallInvoiceOrderItemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDeliveryOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDeliveryOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllDeliveryOrdersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeliveryOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DO_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeliveryOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EAP_Supplier_Votech.DAL.Nelson" minOccurs="0" name="getDeliveryOrderResult" nillable="true" type="q2:ArrayOfDAL_DeliveryOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>